<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xstring" value="drugbank ID"/>
<entry key="1" type="xstring" value="Structure"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="88"/>
<entry key="0" type="xstring" value="CID"/>
<entry key="1" type="xstring" value="Instance identifier: Reaxys Registry Number"/>
<entry key="2" type="xstring" value="Markush"/>
<entry key="3" type="xstring" value="Query: Target Name"/>
<entry key="4" type="xstring" value="Instance identifier: Reaxys Bioactivity Datapoint ID"/>
<entry key="5" type="xstring" value="Bioactivity Datapoint ID"/>
<entry key="6" type="xstring" value="Reaxys Citation Number"/>
<entry key="7" type="xstring" value="Substance Type"/>
<entry key="8" type="xstring" value="Substance Reaxys Registry Number"/>
<entry key="9" type="xstring" value="Substance Name"/>
<entry key="10" type="xstring" value="Substance Route of Administration"/>
<entry key="11" type="xstring" value="Substance Dosing Regimen"/>
<entry key="12" type="xstring" value="Substance Dose"/>
<entry key="13" type="xstring" value="Highest Clinical Phase"/>
<entry key="14" type="xstring" value="Substrate Reaxys Regisry Number"/>
<entry key="15" type="xstring" value="Substrate Name"/>
<entry key="16" type="xstring" value="Substrate Dose"/>
<entry key="17" type="xstring" value="Measurement Parameter"/>
<entry key="18" type="xstring" value="Value Threshold"/>
<entry key="19" type="xstring" value="Bioassay Name"/>
<entry key="20" type="xstring" value="Bioassay Full Type"/>
<entry key="21" type="xstring" value="Bioassay Category"/>
<entry key="22" type="xstring" value="Animal Model"/>
<entry key="23" type="xstring" value="Bioassay Pathology"/>
<entry key="24" type="xstring" value="Putative Action on Target"/>
<entry key="25" type="xstring" value="Bioassay Description"/>
<entry key="26" type="xstring" value="Effect"/>
<entry key="27" type="xstring" value="Biological Material Name"/>
<entry key="28" type="xstring" value="Cells/Cell lines"/>
<entry key="29" type="xstring" value="Cell Fraction"/>
<entry key="30" type="xstring" value="Organs/Tissues"/>
<entry key="31" type="xstring" value="Strain"/>
<entry key="32" type="xstring" value="Population State"/>
<entry key="33" type="xstring" value="Biological Species"/>
<entry key="34" type="xstring" value="Target Name"/>
<entry key="35" type="xstring" value="Target Subunit Names"/>
<entry key="36" type="xstring" value="Target Abbreviation"/>
<entry key="37" type="xstring" value="Target Synonyms"/>
<entry key="38" type="xstring" value="Target Subunit Synonyms"/>
<entry key="39" type="xstring" value="Target Species"/>
<entry key="40" type="xstring" value="Target Nature"/>
<entry key="41" type="xstring" value="Target Class"/>
<entry key="42" type="xstring" value="Target Mutant/Chimera Details"/>
<entry key="43" type="xstring" value="Target Uniprot"/>
<entry key="44" type="xstring" value="Target PDB"/>
<entry key="45" type="xstring" value="Target Role"/>
<entry key="46" type="xstring" value="Transfection"/>
<entry key="47" type="xstring" value="Species"/>
<entry key="48" type="xstring" value="Qualitative Results"/>
<entry key="49" type="xstring" value="Qualitative Value"/>
<entry key="50" type="xstring" value="Quantitative Value"/>
<entry key="51" type="xstring" value="Deviation"/>
<entry key="52" type="xstring" value="Unit"/>
<entry key="53" type="xstring" value="Measurement pX"/>
<entry key="54" type="xstring" value="Statistical Significance (qualitative)"/>
<entry key="55" type="xstring" value="Statistical Significance (p-value)"/>
<entry key="56" type="xstring" value="Measurement count"/>
<entry key="57" type="xstring" value="Update Date"/>
<entry key="58" type="xstring" value="Entry Date"/>
<entry key="59" type="xstring" value="Document Type"/>
<entry key="60" type="xstring" value="Authors"/>
<entry key="61" type="xstring" value="Patent Assignee"/>
<entry key="62" type="xstring" value="Impact Factor"/>
<entry key="63" type="xstring" value="Pages"/>
<entry key="64" type="xstring" value="Patent Country Code"/>
<entry key="65" type="xstring" value="Patent Number"/>
<entry key="66" type="xstring" value="Patent Year"/>
<entry key="67" type="xstring" value="Patent Status"/>
<entry key="68" type="xstring" value="Patent Language Code"/>
<entry key="69" type="xstring" value="CODEN"/>
<entry key="70" type="xstring" value="Journal Title"/>
<entry key="71" type="xstring" value="Journal Title (Short)"/>
<entry key="72" type="xstring" value="Journal/Review Without CODEN"/>
<entry key="73" type="xstring" value="ISBN"/>
<entry key="74" type="xstring" value="Country Code"/>
<entry key="75" type="xstring" value="Language Code"/>
<entry key="76" type="xstring" value="Editor"/>
<entry key="77" type="xstring" value="Publisher"/>
<entry key="78" type="xstring" value="Location of Publisher"/>
<entry key="79" type="xstring" value="(Series) Volume"/>
<entry key="80" type="xstring" value="Number"/>
<entry key="81" type="xstring" value="Publication Year"/>
<entry key="82" type="xstring" value="Page"/>
<entry key="83" type="xstring" value="Citation (unresolved)"/>
<entry key="84" type="xstring" value="DOI"/>
<entry key="85" type="xstring" value="Article Number"/>
<entry key="86" type="xstring" value="ISSN"/>
<entry key="87" type="xstring" value="Bioactivity Presence"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.chem.types.SdfValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.5.0.v201712011156"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.5.1.v201712211547"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
